[data-showmore] {
}
[data-showmore-content] {
}
[data-showmore-button] {
  margin-top: rem(12);
  text-align: left;
  padding: rem(10);
  border-radius: 20px;
  // border: 1px solid $color__green;
  width: rem(130);
  box-shadow: 0 0 36px 0 rgba($color: $dark__grey__blue, $alpha: 0.1);
  span {
    display: block;
    text-align: center;
    font-size: rem(17);
    padding: rem(5);
    &:last-child {
      display: none;
    }
    ._showmore-active & {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}
