@import url(https://fonts.googleapis.com/css?family=Roboto:400&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Koulen:400&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #8d959b;
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto Condensed", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: solid 1px #00b948;
  font-size: 0.875rem;
  letter-spacing: 0.44px;
  -webkit-transition: border 0.6s ease 0s, background-color 0.6s ease 0s;
  -o-transition: border 0.6s ease 0s, background-color 0.6s ease 0s;
  transition: border 0.6s ease 0s, background-color 0.6s ease 0s;
}

.button._active {
  border: solid 1px #d51130;
  background-color: #22272a;
}

.button._fw {
  width: 100%;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 0.625rem 0;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #00b948;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo__link {
  display: block;
}

.logo__link--footer img {
  width: 9.6875rem;
}

.header {
  background-color: #434c52;
  max-height: 5.625rem;
}

.header__container {
  padding: 0 0.625rem;
  background-color: #434c52;
  text-transform: uppercase;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.625rem;
  -ms-grid-columns: 1fr 3.125rem;
  grid-template-columns: 1fr 3.125rem;
}

.header__logo {
  padding: 0 0.625rem;
}

.header__button {
  margin-top: 2.8125rem;
}

@supports (font-size: clamp( 0.875rem , 1.2178074246rem  +  -0.464037123vw , 1.125rem )) {
  .menu {
    font-size: clamp( 0.875rem , 1.2178074246rem  +  -0.464037123vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 1.2178074246rem  +  -0.464037123vw , 1.125rem )) {
  .menu {
    font-size: calc(1.125rem + -0.25 * (100vw - 20rem) / 53.875);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 1.5625rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem )) or (column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem );
       -moz-column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem );
            column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem )) or (column-gap: clamp( 1.25rem , 0.6699535963rem  +  2.9002320186vw , 2.8125rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.875);
       -moz-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.875);
            column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.875);
  }
}

.menu__link {
  padding: 0 0 0.3125rem 0;
}

.menu__link::after {
  content: "";
  display: block;
  width: 0rem;
  height: 0.25rem;
  margin: 0.625rem 0 0 0;
  background-color: #ffd109;
  -webkit-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
}

.menu__link._active::after {
  width: 35%;
  background-color: #d51130;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #434c52;
  color: #ffffff;
  line-height: 1.67;
}

@supports (padding-top: clamp( 2rem , 3.1998259861rem  +  -1.6241299304vw , 2.875rem )) {
  .footer {
    padding-top: clamp( 2rem , 3.1998259861rem  +  -1.6241299304vw , 2.875rem );
  }
}

@supports not (padding-top: clamp( 2rem , 3.1998259861rem  +  -1.6241299304vw , 2.875rem )) {
  .footer {
    padding-top: calc(2.875rem + -0.875 * (100vw - 20rem) / 53.875);
  }
}

@supports (padding-bottom: clamp( 3rem , 2.837587007rem  +  0.8120649652vw , 3.4375rem )) {
  .footer {
    padding-bottom: clamp( 3rem , 2.837587007rem  +  0.8120649652vw , 3.4375rem );
  }
}

@supports not (padding-bottom: clamp( 3rem , 2.837587007rem  +  0.8120649652vw , 3.4375rem )) {
  .footer {
    padding-bottom: calc(3rem + 0.4375 * (100vw - 20rem) / 53.875);
  }
}

@supports (font-size: clamp( 1rem , 0.9535962877rem  +  0.2320185615vw , 1.125rem )) {
  .footer {
    font-size: clamp( 1rem , 0.9535962877rem  +  0.2320185615vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9535962877rem  +  0.2320185615vw , 1.125rem )) {
  .footer {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.875);
  }
}

.footer__container {
  padding: 0 2.75rem;
}

.footer__body {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 1.25rem , 0.785962877rem  +  2.3201856148vw , 2.5rem )) {
  .footer__body {
    gap: clamp( 1.25rem , 0.785962877rem  +  2.3201856148vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.785962877rem  +  2.3201856148vw , 2.5rem )) {
  .footer__body {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.875);
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.5);
}

.footer__logo {
  margin: 2.5rem 0 2.8125rem 0;
}

.footer__copy {
  color: rgba(255, 255, 255, 0.5);
}

.spollers__title {
  text-transform: uppercase;
  font-weight: 700;
}

@supports (font-size: clamp( 1.125rem , 1.6392111369rem  +  -0.6960556845vw , 1.5rem )) {
  .spollers__title {
    font-size: clamp( 1.125rem , 1.6392111369rem  +  -0.6960556845vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.6392111369rem  +  -0.6960556845vw , 1.5rem )) {
  .spollers__title {
    font-size: calc(1.5rem + -0.375 * (100vw - 20rem) / 53.875);
  }
}

.spollers__title--visibility {
  visibility: visible;
}

.sales__item {
  display: -ms-grid;
  display: grid;
}

.sales__item a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.page__purchasing {
  position: relative;
  z-index: 2;
}

.about {
  background-color: #f7f7f7;
  color: #22272a;
}

@supports (padding-top: clamp( 2.3125rem , -1.0749709977rem  +  16.9373549884vw , 11.4375rem )) {
  .about {
    padding-top: clamp( 2.3125rem , -1.0749709977rem  +  16.9373549884vw , 11.4375rem );
  }
}

@supports not (padding-top: clamp( 2.3125rem , -1.0749709977rem  +  16.9373549884vw , 11.4375rem )) {
  .about {
    padding-top: calc(2.3125rem + 9.125 * (100vw - 20rem) / 53.875);
  }
}

@supports (padding-bottom: clamp( 3rem , 0.7030162413rem  +  11.4849187935vw , 9.1875rem )) {
  .about {
    padding-bottom: clamp( 3rem , 0.7030162413rem  +  11.4849187935vw , 9.1875rem );
  }
}

@supports not (padding-bottom: clamp( 3rem , 0.7030162413rem  +  11.4849187935vw , 9.1875rem )) {
  .about {
    padding-bottom: calc(3rem + 6.1875 * (100vw - 20rem) / 53.875);
  }
}

.about__body {
  text-align: left;
  font-stretch: condensed;
}

@supports (margin-bottom: clamp( 3.5625rem , 2.1935904872rem  +  6.8445475638vw , 7.25rem )) {
  .about__body {
    margin-bottom: clamp( 3.5625rem , 2.1935904872rem  +  6.8445475638vw , 7.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.5625rem , 2.1935904872rem  +  6.8445475638vw , 7.25rem )) {
  .about__body {
    margin-bottom: calc(3.5625rem + 3.6875 * (100vw - 20rem) / 53.875);
  }
}

.about__title {
  font-weight: 300;
}

@supports (font-size: clamp( 4.0625rem , 3.900087007rem  +  0.8120649652vw , 4.5rem )) {
  .about__title {
    font-size: clamp( 4.0625rem , 3.900087007rem  +  0.8120649652vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 4.0625rem , 3.900087007rem  +  0.8120649652vw , 4.5rem )) {
  .about__title {
    font-size: calc(4.0625rem + 0.4375 * (100vw - 20rem) / 53.875);
  }
}

@supports (margin-bottom: clamp( 1.5rem , 1.3607888631rem  +  0.6960556845vw , 1.875rem )) {
  .about__title:not(:last-child) {
    margin-bottom: clamp( 1.5rem , 1.3607888631rem  +  0.6960556845vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.5rem , 1.3607888631rem  +  0.6960556845vw , 1.875rem )) {
  .about__title:not(:last-child) {
    margin-bottom: calc(1.5rem + 0.375 * (100vw - 20rem) / 53.875);
  }
}

.about__title--bold {
  font-weight: 700;
}

.about__title--color {
  color: #00b948;
  font-weight: 700;
}

.about__text {
  font-size: 1.625rem;
  font-weight: 300;
}

.about__text--bold {
  font-weight: 700;
}

.about__wrap {
  margin: auto;
  display: -ms-grid;
  display: grid;
  row-gap: 1.25rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1.25rem auto 1.25rem auto 1.25rem auto;
      grid-template-areas: "virt" "digital" "service" "portals";
}

.about__central {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__inner {
  width: 100%;
  position: relative;
  height: 350px;
  border: solid;
  border-width: 1px;
  border-color: #979797;
  border-left: 1px;
  border-right: 1px;
}

.about__line {
  height: 100%;
  width: 1px;
  background-color: #8d959b;
  position: absolute;
  left: 50%;
}

.about__box {
  grid-area: box;
  display: none;
}

.about__logo {
  z-index: 10;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 15.25rem;
  height: 15.25rem;
  border: solid 1px #979797;
  -webkit-box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.1);
          box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.1);
  background-color: #fdfdfd;
}

.cart {
  min-height: 21.375rem;
  padding: 2.25rem 1.25rem;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.1);
          box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.1);
  background-color: #fdfdfd;
  -webkit-transition: -webkit-transform 0.3s ease 0.3s;
  transition: -webkit-transform 0.3s ease 0.3s;
  -o-transition: transform 0.3s ease 0.3s;
  transition: transform 0.3s ease 0.3s;
  transition: transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}

.cart__title {
  margin: 1.5rem 0 0.125rem 0;
  color: #22272a;
  font-weight: 700;
  line-height: 1.3333333333;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-stretch: condensed;
}

.cart__text {
  font-family: "Roboto", sans-serif;
  color: #8d959b;
  line-height: 1.375;
  font-size: 1rem;
}

.cart::before {
  content: "";
  display: block;
}

.cart--virt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: virt;
}

.cart--virt::before {
  width: 5.625rem;
  height: 4.375rem;
  background: url("../img/main/about/virt.svg") center/cover no-repeat;
}

.cart--digital {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: digital;
}

.cart--digital::before {
  width: 4.25rem;
  height: 4.4375rem;
  background: url("../img/main/about/digital.svg") center/cover no-repeat;
}

.cart--service {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: service;
}

.cart--service::before {
  width: 5.375rem;
  height: 4.4375rem;
  background: url("../img/main/about/service.svg") center/cover no-repeat;
}

.cart--portals {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: portals;
}

.cart--portals::before {
  width: 4.5rem;
  height: 4.5rem;
  background: url("../img/main/about/portals.svg") center/cover no-repeat;
}

.cause {
  padding: 3rem 0 6.875rem 0;
  background-color: #ffffff;
}

.cause__container {
  min-height: 26.875rem;
  display: -ms-grid;
  display: grid;
  padding: 0;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem )) or (column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem ))) {
  .cause__container {
    -webkit-column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem );
       -moz-column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem );
            column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem )) or (column-gap: clamp( 1.25rem , -1.0005800464rem  +  11.252900232vw , 7.3125rem ))) {
  .cause__container {
    -webkit-column-gap: calc(1.25rem + 6.0625 * (100vw - 20rem) / 53.875);
       -moz-column-gap: calc(1.25rem + 6.0625 * (100vw - 20rem) / 53.875);
            column-gap: calc(1.25rem + 6.0625 * (100vw - 20rem) / 53.875);
  }
}

.cause__img-ibg {
  padding-bottom: 76.2619372442%;
}

.cause__img img {
  height: 20.25rem;
  z-index: 1;
}

.cause__body {
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 16.25rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  justify-items: center;
  position: absolute;
  background-color: #ffffff;
}

.cause__title {
  max-width: 15.625rem;
  font-weight: 300;
  font-stretch: condensed;
  color: #22272a;
  line-height: 1.25;
}

@supports (font-size: clamp( 3rem , 2.4431554524rem  +  2.7842227378vw , 4.5rem )) {
  .cause__title {
    font-size: clamp( 3rem , 2.4431554524rem  +  2.7842227378vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 3rem , 2.4431554524rem  +  2.7842227378vw , 4.5rem )) {
  .cause__title {
    font-size: calc(3rem + 1.5 * (100vw - 20rem) / 53.875);
  }
}

.cause__title--bold {
  font-weight: 700;
}

.cause__title--color {
  font-weight: 700;
  color: #00b948;
}

.cause__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.cause__subtitle {
  max-width: 16.875rem;
  font-stretch: condensed;
  font-weight: 300;
  color: #00b948;
}

@supports (font-size: clamp( 1.375rem , 1.2821925754rem  +  0.464037123vw , 1.625rem )) {
  .cause__subtitle {
    font-size: clamp( 1.375rem , 1.2821925754rem  +  0.464037123vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2821925754rem  +  0.464037123vw , 1.625rem )) {
  .cause__subtitle {
    font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 53.875);
  }
}

.cause__subtitle:not(:last-child) {
  margin-bottom: 3.1875rem;
}

.cause__text {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.375;
  max-width: 28.9375rem;
}

.purchasing {
  background-color: #f7f7f7;
}

@supports (padding-top: clamp( 3rem , 1.5614849188rem  +  7.192575406vw , 6.875rem )) {
  .purchasing {
    padding-top: clamp( 3rem , 1.5614849188rem  +  7.192575406vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 3rem , 1.5614849188rem  +  7.192575406vw , 6.875rem )) {
  .purchasing {
    padding-top: calc(3rem + 3.875 * (100vw - 20rem) / 53.875);
  }
}

@supports (padding-bottom: clamp( 4.125rem , 3.8001740139rem  +  1.6241299304vw , 5rem )) {
  .purchasing {
    padding-bottom: clamp( 4.125rem , 3.8001740139rem  +  1.6241299304vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 4.125rem , 3.8001740139rem  +  1.6241299304vw , 5rem )) {
  .purchasing {
    padding-bottom: calc(4.125rem + 0.875 * (100vw - 20rem) / 53.875);
  }
}

.purchasing__container {
  display: -ms-grid;
  display: grid;
}

.purchasing__title {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 59.375rem;
  text-align: center;
  color: #22272a;
  font-weight: 300;
  line-height: 1.08;
  font-stretch: condensed;
}

@supports (font-size: clamp( 2.75rem , 2.1003480278rem  +  3.2482598608vw , 4.5rem )) {
  .purchasing__title {
    font-size: clamp( 2.75rem , 2.1003480278rem  +  3.2482598608vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.75rem , 2.1003480278rem  +  3.2482598608vw , 4.5rem )) {
  .purchasing__title {
    font-size: calc(2.75rem + 1.75 * (100vw - 20rem) / 53.875);
  }
}

.purchasing__title--bold {
  font-weight: 700;
}

.purchasing__title--color {
  color: #00b948;
  font-weight: 700;
}

.purchasing__wrapper {
  padding-bottom: 4.375rem;
  counter-reset: myCounter;
}

@supports (padding-top: clamp( 3rem , 2.0255220418rem  +  4.8723897912vw , 5.625rem )) {
  .purchasing__wrapper {
    padding-top: clamp( 3rem , 2.0255220418rem  +  4.8723897912vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 3rem , 2.0255220418rem  +  4.8723897912vw , 5.625rem )) {
  .purchasing__wrapper {
    padding-top: calc(3rem + 2.625 * (100vw - 20rem) / 53.875);
  }
}

.purchasing__slide {
  width: auto;
  font-family: "Roboto";
  color: #8d959b;
  counter-increment: myCounter;
  list-style-type: none;
  position: relative;
}

.purchasing__slide:before {
  content: "0" counter(myCounter);
  position: absolute;
  top: 8.125rem;
  left: 1.375rem;
  border: solid 1px #00b948;
  padding: 0.25rem;
  width: 1.625rem;
  height: 1.625rem;
}

.purchasing__slide::after {
  content: "";
  display: block;
  border: solid 1px #e7e7e7;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  top: 5.9375rem;
  left: 1.375rem;
}

.purchasing__wrap {
  display: -ms-grid;
  display: grid;
  gap: 1.3125rem;
  padding: 2.75rem 1.25rem;
  width: 17rem;
  height: 22.9375rem;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.1);
          box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.1);
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.purchasing__wrap::after {
  content: "";
  display: block;
  border: solid 1px #e7e7e7;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  top: 8.125rem;
  left: 3.5625rem;
}

.purchasing__text {
  line-height: 1.38;
}

.purchasing__img {
  display: block;
}

.purchasing__img--digital {
  height: 7.0625rem;
}

.purchasing__img--document {
  height: 7.125rem;
}

.purchasing__img--clock {
  height: 7.0625rem;
}

.purchasing__img--resize {
  height: 6.0625rem;
}

.purchasing__img--speed {
  height: 5.0625rem;
}

.purchasing__img--log {
  height: 4.5rem;
}

.purchasing__img--grid {
  height: 7.125rem;
}

.purchasing__img--puzzle {
  height: 7.0625rem;
}

.purchasing__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.purchasing__pagination {
  font-family: "Koulen";
  font-size: 3rem;
  color: #434c52;
}

.purchasing__button {
  width: 3.125rem;
  height: 3.125rem;
  background-color: transparent;
  background: url("../img/main/purchasing/arrow.svg") center/contain no-repeat;
  -webkit-transition: background-image 0.3s ease 0s;
  -o-transition: background-image 0.3s ease 0s;
  transition: background-image 0.3s ease 0s;
}

.purchasing__button:hover {
  background-image: url("../img/main/purchasing/arrowhover.svg");
}

.purchasing__button--prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper-button-disabled {
  background-image: url("../img/main/purchasing/arrowdisabled.svg");
}

.company {
  background-color: #ffffff;
  position: relative;
}

@supports (padding-top: clamp( 3.125rem , 1.7328886311rem  +  6.9605568445vw , 6.875rem )) {
  .company {
    padding-top: clamp( 3.125rem , 1.7328886311rem  +  6.9605568445vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.7328886311rem  +  6.9605568445vw , 6.875rem )) {
  .company {
    padding-top: calc(3.125rem + 3.75 * (100vw - 20rem) / 53.875);
  }
}

@supports (padding-bottom: clamp( 6.875rem , 6.1789443155rem  +  3.4802784223vw , 8.75rem )) {
  .company {
    padding-bottom: clamp( 6.875rem , 6.1789443155rem  +  3.4802784223vw , 8.75rem );
  }
}

@supports not (padding-bottom: clamp( 6.875rem , 6.1789443155rem  +  3.4802784223vw , 8.75rem )) {
  .company {
    padding-bottom: calc(6.875rem + 1.875 * (100vw - 20rem) / 53.875);
  }
}

.company::after {
  content: "";
  display: block;
  width: 7.875rem;
  height: 7.875rem;
  border-radius: 0.625rem;
  background-color: #00b948;
  position: absolute;
  top: -7%;
  right: -7%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.company__container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.company__title {
  color: #22272a;
  font-weight: 300;
  line-height: 1.08;
  font-stretch: condensed;
}

@supports (font-size: clamp( 2.75rem , 2.1003480278rem  +  3.2482598608vw , 4.5rem )) {
  .company__title {
    font-size: clamp( 2.75rem , 2.1003480278rem  +  3.2482598608vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.75rem , 2.1003480278rem  +  3.2482598608vw , 4.5rem )) {
  .company__title {
    font-size: calc(2.75rem + 1.75 * (100vw - 20rem) / 53.875);
  }
}

.company__title--bold {
  font-weight: 700;
}

.company__title--color {
  color: #00b948;
  font-weight: 700;
}

.company__subtitle {
  max-width: 46.875rem;
  font-weight: 300;
  font-stretch: condensed;
  color: #00b948;
  margin-top: 0.625rem;
}

@supports (font-size: clamp( 1.5rem , 1.4535962877rem  +  0.2320185615vw , 1.625rem )) {
  .company__subtitle {
    font-size: clamp( 1.5rem , 1.4535962877rem  +  0.2320185615vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.4535962877rem  +  0.2320185615vw , 1.625rem )) {
  .company__subtitle {
    font-size: calc(1.5rem + 0.125 * (100vw - 20rem) / 53.875);
  }
}

@supports (margin-bottom: clamp( 3rem , 2.4895591647rem  +  2.5522041763vw , 4.375rem )) {
  .company__subtitle:not(:last-child) {
    margin-bottom: clamp( 3rem , 2.4895591647rem  +  2.5522041763vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 3rem , 2.4895591647rem  +  2.5522041763vw , 4.375rem )) {
  .company__subtitle:not(:last-child) {
    margin-bottom: calc(3rem + 1.375 * (100vw - 20rem) / 53.875);
  }
}

.company__list {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  text-align: left;
  gap: 0.9375rem;
}

.company__text {
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: condensed;
  color: #434c52;
  line-height: 1.2;
  text-transform: uppercase;
}

@supports (margin-bottom: clamp( 0.0000000625rem , 2.1425463805rem  +  -2.9002319026vw , 1.5625rem )) {
  .company__text {
    margin-bottom: clamp( 0.0000000625rem , 2.1425463805rem  +  -2.9002319026vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , 2.1425463805rem  +  -2.9002319026vw , 1.5625rem )) {
  .company__text {
    margin-bottom: calc(1.5625rem + -1.5624999375 * (100vw - 20rem) / 53.875);
  }
}

.company__item {
  justify-self: flex-start;
  font-family: "Roboto";
  font-size: 1.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5rem 1fr;
  grid-template-columns: 1.5rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.9375rem , 1.7088167053rem  +  -1.0440835267vw , 1.5rem )) {
  .company__item {
    gap: clamp( 0.9375rem , 1.7088167053rem  +  -1.0440835267vw , 1.5rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 1.7088167053rem  +  -1.0440835267vw , 1.5rem )) {
  .company__item {
    gap: calc(1.5rem + -0.5625 * (100vw - 20rem) / 53.875);
  }
}

.company__item::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background: url("../img/main/arrow__circle.svg") center/cover no-repeat;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .spollers__title {
    padding: 0 0 1.875rem 0;
  }

  .logo__link--footer img {
    width: 12.5rem;
    height: 4.0625rem;
  }

  .header__container {
    padding: 0 0.3125rem;
    -ms-grid-columns: 9.375rem minmax(-webkit-min-content, 1fr) 9.6875rem;
    -ms-grid-columns: 9.375rem minmax(min-content, 1fr) 9.6875rem;
    grid-template-columns: 9.375rem minmax(-webkit-min-content, 1fr) 9.6875rem;
    grid-template-columns: 9.375rem minmax(min-content, 1fr) 9.6875rem;
    justify-items: center;
  }

  .header__button {
    margin-top: 0;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    row-gap: 0.3125rem;
  }

  .menu__link._active::after {
    width: 100%;
    background-color: #d51130;
  }

  .footer__container {
    padding: 0 1.25rem;
  }

  .footer__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .spollers__title--visibility {
    visibility: hidden;
  }

  .about__container {
    padding: 0 2.5rem;
  }

  .about__wrap {
    -ms-grid-columns: 1fr 1.25rem 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
        grid-template-areas: "virt digital" "service portals";
  }

  .cart {
    min-height: 20.625rem;
  }

  .cause {
    padding: 1.9375rem 0;
  }

  .cause__container {
    -ms-grid-columns: 23.875rem 1fr;
    grid-template-columns: 23.875rem 1fr;
    min-height: 35rem;
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .cause__img img {
    left: -95%;
    width: auto;
    height: 100%;
  }

  .cause__body {
    position: static;
    z-index: 0;
    max-width: none;
    text-align: left;
    justify-items: left;
  }

  .cause__title {
    max-width: none;
  }

  .cause__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .cause__subtitle {
    max-width: 44.375rem;
  }

  .cause__subtitle:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .purchasing__wrap {
    width: 22.9375rem;
  }

  .purchasing__text {
    border-left: solid 1px #00b948;
    padding-left: 1.25rem;
  }

  .cart--virt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .cart--digital {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .cart--service {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .cart--portals {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}

@media (any-hover: hover) and (min-width: 47.99875em) {
  .menu__link:hover::after {
    width: 100%;
  }
}

@media (min-width: 61.99875em) {
  .footer__body {
    -ms-grid-columns: 31.25rem (minmax(12.5rem, -webkit-max-content))[2];
    -ms-grid-columns: 31.25rem (minmax(12.5rem, max-content))[2];
    grid-template-columns: 31.25rem repeat(2, minmax(12.5rem, -webkit-max-content));
    grid-template-columns: 31.25rem repeat(2, minmax(12.5rem, max-content));
  }

  .footer__logo {
    margin: -6.25rem 0 2.8125rem 0;
  }

  .about__wrap {
    -ms-grid-columns: 1fr 0 minmax(244px, 1fr) 0 1fr;
    grid-template-columns: 1fr minmax(244px, 1fr) 1fr;
    max-width: 71.25rem;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
        grid-template-areas: "virt box service" "digital box portals";
  }

  .about__box {
    display: block;
  }

  .cause__container {
    max-width: none;
  }

  .company::after {
    width: 14.5625rem;
    height: 14.5625rem;
  }

  .about__box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }

  .cart--virt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .cart--digital {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .cart--service {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .cart--portals {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
}

@media (min-width: 90.0625rem) {
  .cause__container {
    max-width: 70.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 4.375rem;
    right: -100%;
    overflow: auto;
    background-color: #434c52;
    padding: 0.9375rem 0.9375rem;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    z-index: 3;
  }

  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    right: -100%;
    background-color: #434c52;
  }

  .menu-open .menu {
    right: 0;
  }

  .menu-open .menu .menu__link {
    color: #8d959b;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #00b948;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ffd109;
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ffd109;
  }
}

@media (max-width: 47.99875em) and (any-hover: hover) {
  .icon-menu:hover span,
  .icon-menu:hover::before,
  .icon-menu:hover::after {
    background-color: #ffd109;
  }
}

@media (any-hover: hover) {
  .button:hover {
    border: solid 1px #ffd109;
    background-color: #22272a;
  }

  .menu__link:hover::after {
    width: 35%;
  }

  .footer__link:hover {
    text-decoration: underline;
    color: rgba(0, 185, 72, 0.5);
  }

  .sales__item a:hover {
    color: rgba(0, 185, 72, 0.5);
  }

  .cart:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  .purchasing__wrap:hover {
    -webkit-box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.5);
            box-shadow: 0 0 36px 0 rgba(67, 76, 82, 0.5);
  }
}