//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  background-color: transparent;
  padding: rem(12) rem(16);
  border-radius: 3px;
  border: solid 1px $color__green;
  font-size: rem(14);
  letter-spacing: 0.44px;
  transition: border 0.6s ease 0s, background-color 0.6s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border: solid 1px $color__yellow;
      background-color: $Very-dark-blue;
    }
  }
  &._active {
    border: solid 1px $color__red;
    background-color: $Very-dark-blue;
  }
  &._fw {
    width: 100%;
  }
  &--access {
    padding: rem(18) rem(55);
    font-size: rem(21);
    color: $bag;
    background-color: $color__green;
    box-shadow: 0 0 36px 0 rgba($color: $dark__text, $alpha: 0.5);
    @media (any-hover: hover) {
      &:hover {
        border-color: transparent;
        background-color: rgba($color: $color__green, $alpha: 0.8);
        box-shadow: 0 0 36px 0 rgba($color: $dark__text, $alpha: 0.8);
      }
    }
  }
}
