//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  background-color: transparent;
  padding: rem(12) rem(15);
  border-radius: 3px;
  border: solid 1px $color__green;
  font-size: rem(14);
  letter-spacing: 0.44px;
  font-stretch: condensed;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      // border: solid 1px $color__yellow;
      // background-color: $Very-dark-blue;
      border: solid 1px $color__green;
      background-color: $buttonHover;
    }
  }
  &._active {
    border: solid 1px $color__red;
    background-color: $Very-dark-blue;
  }
  &._fw {
    width: 100%;
  }
  &--access {
    padding: rem(18) rem(55);
    font-size: rem(21);
    color: $bag;
    background-color: $color__green;
    box-shadow: 0 0 36px 0 rgba($color: $dark__text, $alpha: 0.5);
    @media (any-hover: hover) {
      &:hover {
        border-color: transparent;
        background-color: $buttonAccess;
        // background-color: rgba($color: $color__green, $alpha: 0.8);
        box-shadow: 0 0 36px 0 rgba($color: $dark__text, $alpha: 0.8);
      }
    }
  }
  &--cookie {
    width: rem(125);
    line-height: 1.29;
    border-radius: 30px;
    border: 1px solid $Back;
    color: $LightGray;
    padding: rem(12) rem(15);
    letter-spacing: 0.44px;
    font-family: 'Roboto';
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    @media (any-hover: hover) {
      &:hover {
        border: solid 1px $LightGray;
        background-color: $Back;
        color: $color__green;
      }
    }
  }
}
