//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  background-color: transparent;
  padding: rem(12) rem(16);
  border-radius: 4px;
  border: solid 1px $color__green;
  font-size: rem(14);
  letter-spacing: 0.44px;
  @media (any-hover: hover) {
    &:hover {
      border: solid 1px $color__yellow;
    }
  }
  &._fw {
    width: 100%;
  }
}
