.checkbox {
  position: relative;
  &:not(:last-child) {
    margin-bottom: em(5);
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label:before {
      box-shadow: 0 0 5px $color__green;
    }
    &:checked + .checkbox__label:before {
      background: url('@img/general/checkbox.svg') center / cover no-repeat;
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
    &:before {
      content: '';
      align-self: flex-start;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      border: 1px solid $color__green;
    }
  }
  // .checkbox__text
  &__text {
    @include adaptiveValue('font-size', 14, 12);
    // .checkbox__link
    .checkbox__link {
      text-decoration: underline;
      // text-decoration-color: $color__green;
    }
  }
}
