//==========================================================================================================================================
.about {
  background-color: $Back;
  @include adaptiveValue('padding-top', 190, 37);
  @include adaptiveValue('padding-bottom', 147, 48);
  position: relative;
  display: grid;
  justify-items: center;

  @media (min-width: $mobile) {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      max-height: rem(80);
      position: absolute;
      background-image: url('@img/general/mosaic.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
    }
  }
  @media (min-width: $tablet) {
    &::before {
      max-height: rem(190);
      max-width: rem(752);
    }
  }
  &__container {
    background-color: $Back;
    position: relative;
    z-index: 2;
    display: grid;
    @media (max-width: $mobile) {
      padding: 0 rem(10);
    }
    @media (max-width: $tablet) {
      padding: 0 rem(30);
    }
  }

  &__title {
    @include adaptiveValue('font-size', 72, 38);
    white-space: nowrap;
    line-height: math.div(52, 48);
    font-weight: 300;
    color: $Very-dark-blue;
    font-stretch: condensed;
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 78, 46);
    }
  }

  &__text {
    font-family: 'Roboto';
    line-height: math.div(24, 17);
    font-size: rem(17);
    margin-bottom: rem(14);
    &--bold {
      font-weight: 700;
      color: $dark__grey__blue;
    }
  }

  &__body {
    @include adaptiveValue('padding-top', 40, 40);
    @include adaptiveValue('padding-bottom', 96, 42);
    justify-self: end;
  }

  &__content {
    @include adaptiveValue('padding-left', 20, 5);
    border-left: solid 1px $color__green;
    max-width: rem(560);
    @include adaptiveValue('font-size', 26, 22);
    line-height: math.div(35, 26);
    font-stretch: condensed;
    font-weight: 300;
  }

  &__logo {
    img {
      width: 100%;
    }
  }
}

//==========================================================================================================================================
