// Заголовки, общие БЄМ блоки и проче...

.logo {
  &__link {
    display: block;
    &--footer {
      img {
        width: rem(155);
        @media (min-width: $mobile) {
          width: rem(180);
          height: rem(65);
        }
      }
    }
  }
}
//==========================================================================================================================================

.popup {
  &__wrapper {
  }

  &__content {
    display: grid;
    justify-items: center;
    position: relative;
    background-color: $Back;
    padding: rem(60) rem(24);
    max-width: rem(753);
    @media (min-width: $mobile) {
      padding: rem(48) rem(48);
    }
    @media (min-width: $tablet) {
      padding: rem(65) rem(96);
    }
  }

  &__close {
    position: absolute;
    top: rem(26);
    right: rem(26);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    cursor: pointer;
    z-index: 5;
    background-color: $LightGray2;
    border-radius: 50%;

    &::after {
      content: '';
      display: block;
      width: rem(20);
      height: rem(20);
      background: url('@img/general/close__btn.svg') center / contain no-repeat;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__text {
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    @include adaptiveValue('font-size', 26, 18);
    color: $Very-dark-blue;
    &:not(:last-child) {
      @include adaptiveValue(' margin-bottom', 35, 12);
    }
  }
}

//==========================================================================================================================================

.cookie {
  display: none;
  position: fixed;
  z-index: 150;
  bottom: 0;
  left: 0;
  right: 0;
  &__notice {
    margin: 0 auto;
    display: grid;
    justify-items: center;
    position: relative;
    gap: rem(10);
    align-items: center;
    min-height: rem(90);
    max-width: rem(1366);
    background-color: $color__green;
    color: $Back;
    padding: rem(24);

    @media (min-width: $mobile) {
      grid-template-columns: 1fr rem(125);
      gap: rem(70);
      padding: rem(24) rem(113);
    }
  }
  &__text {
    font-family: 'Roboto';
    line-height: 1.29;
    font-weight: 400;
    font-size: rem(17);
    @include adaptiveValue('font-size', 17, 12);
    a {
      text-decoration: underline;
      outline: none;
    }
  }

  &__link {
    text-decoration: underline;
    outline: none;
  }
}

//==========================================================================================================================================

.form {
  &__error {
    color: $color__red;
    font-size: rem(12);
    margin-top: rem(5);
  }
  &__boby {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: math.div(35, 26);
    @include adaptiveValue('font-size', 26, 22);
    color: $Very-dark-blue;
    font-stretch: condensed;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {
    text-align: center;
    color: $color__green;
    font-weight: 300;
    line-height: math.div(36, 18);
    font-size: rem(18);
    font-stretch: condensed;
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 48, 24);
    }
    @media (min-width: $mobile) {
      text-transform: uppercase;
    }
  }
  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
  }
  &__item {
    width: 100%;
    @include adaptiveValue('margin-bottom', 35, 12);
    input:-webkit-autofill {
      -webkit-text-fill-color: none;
      -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &.checkbox {
      margin-bottom: rem(24);
    }
  }

  &__input {
    border: solid 1px #979797;
    width: 100%;
    padding: rem(15) rem(21);
    font-family: 'Roboto';
    line-height: math.div(22, 16);
    font-size: rem(16);
  }
  textarea {
    border: solid 1px $border;
    padding: rem(10) rem(12);
    color: rgba($color: $mainColor, $alpha: 0.5);
    // line-height: 1;
    @include adaptiveValue('font-size', 16, 14);
    width: 100%;
    height: 100%;
    min-height: rem(80);
    @media (min-width: $mobile) {
      height: rem(183);
      padding: rem(20) rem(22);
    }
    @media (min-width: $tablet) {
      max-width: rem(560);
    }
    &::placeholder {
      color: rgba($color: $mainColor, $alpha: 0.5);
    }
  }
  &__buttons {
    // margin-top: rem(48);
    margin-top: rem(24);
  }
}
//==========================================================================================================================================

.social {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: rem(23);
  padding-bottom: rem(32);
  &__form {
    grid-column: 1/5;
    font-family: 'Roboto';
    font-size: rem(16);
    line-height: math.div(22, 16);
    color: rgba($color: $mainColor, $alpha: 0.5);
  }
  &__input {
    &:checked ~ .social__label .social__text {
      color: $color__green;
    }
    &:checked + .social__label:before {
      background-color: transparent;
    }
    &:focus + .social__label:before {
      box-shadow: 0 0 26px 0 rgba($color: $Very-dark-blue, $alpha: 0.5);
      border-radius: 50%;
    }
  }
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
    flex-flow: column wrap;
    &::before {
      content: '';
      align-self: flex-start;
      background: url('@img/social/whatsapp.svg') center / cover no-repeat;
      flex: 0 0 rem(40);
      width: rem(40);
      height: rem(40);
    }
    &--telegram {
      &::before {
        background: url('@img/social/telegram.svg') center / cover no-repeat;
      }
    }
    &--email {
      &::before {
        background: url('@img/social/email.svg') center / cover no-repeat;
      }
    }
    &--phone {
      &::before {
        background: url('@img/social/phone.svg') center / cover no-repeat;
      }
    }
  }

  &__text {
    font-size: rem(10);
  }
}
//==========================================================================================================================================
.scroll {
  position: fixed;
  z-index: 10;
  bottom: -250px;
  right: 10px;
  @include adaptiveValue('height', 45, 30);
  @include adaptiveValue('width', 45, 30);
  background: url('@img/general/scroll.svg') center / cover no-repeat;
  transition: transform 1s;

  &:hover {
    transform: translateY(10px);
  }
}
//==========================================================================================================================================
.box {
  display: grid;
  row-gap: rem(24);
  @include adaptiveValue('column-gap', 65, 24);
  transition: box-shadow 0.3s ease 0s;

  @media (min-width: $mobile) {
    grid-template-columns: rem(175) 1fr;
    // padding: rem(29) rem(20) rem(36) rem(51);

    &--design {
      & .box__decor--arrow,
      & .box__decor--grey,
      & .box__decor--arrow-grey {
        display: none;
      }
    }
    &--implementation {
      & .box__decor--yellow:not(.box__decor--revers, .box__decor--number),
      & .box__decor--grey,
      & .box__decor--arrow-grey {
        display: none;
      }
    }
    &--purchase {
      & .box__decor--red:not(.box__decor--revers, .box__decor--number),
      & .box__decor--grey,
      & .box__decor--arrow-grey {
        display: none;
      }
    }
    &--support {
      & .box__decor--grey:not(.box__decor--number) {
        display: none;
      }
    }
  }
  &--solutions {
    max-width: rem(950);
    background-color: $bag;
    padding: rem(40) rem(20) rem(48) rem(20);
    border-radius: 20px;
    box-shadow: 0 0 36px 0 rgba($color: $dark__grey__blue, $alpha: 0.1);
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 36px 0 rgba($color: $dark__grey__blue, $alpha: 0.5);
      }
    }
    @media (min-width: $mobile) {
      padding: rem(29) rem(20) rem(36) rem(51);
    }
  }
  &--benefits {
    padding-top: rem(24);
    & .box__body {
      gap: 0;
    }

    & .box__text {
      font-size: rem(17);
      line-height: 1;
    }
  }
  &__subtitle {
    color: $dark__grey__blue;
    @include adaptiveValue('font-size', 17, 14);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__list {
    font-family: 'Roboto';
    list-style: circle;
  }

  &__item {
    font-size: rem(17);
    margin-top: rem(10);
  }
  &__title {
    text-transform: uppercase;
    color: $Very-dark-blue;
    font-stretch: condensed;
    font-weight: 700;
    @include adaptiveValue('font-size', 18, 24);
    @media (min-width: $mobile) {
      grid-column: 1/3;
      line-height: math.div(24, 18);
    }
  }
  &__body {
    display: grid;
    gap: rem(24);
    @media (min-width: $mobile) {
      &--possession {
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
      }
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    @include adaptiveValue('gap', 20, 10);
    @media (min-width: $mobile) {
      grid-template-columns: 1fr 1fr;
      align-self: flex-start;
    }
  }
  &__decor {
    width: rem(50);
    height: rem(50);
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    &--grey {
      border-color: $LightGray2;
    }
    &--color {
      border-color: $color__green;
    }
    &--arrow {
      border-color: $color__green;
      background: url('@img/solutions/arrow/arrow.svg') center / 90% no-repeat;
      &-grey {
        border-color: $LightGray2;
        background: url('@img/solutions/arrow/arrow__grey.svg') center / 90%
          no-repeat;
      }
      &-red {
        border-color: $color__red;
        background: url('@img/solutions/arrow/arrow__red.svg') center / 90%
          no-repeat;
      }
      &-yellow {
        border-color: $color__yellow;
        background: url('@img/solutions/arrow/arrow__yellow.svg') center / 90%
          no-repeat;
      }
    }
    &--revers {
      img {
        transform: rotate(130deg);
      }
    }
    &--yellow {
      border-color: $color__yellow;
    }
    &--red {
      border-color: $color__red;
    }
    @media (min-width: $mobile) {
      width: rem(77);
      height: rem(77);
    }
  }
  &__text {
    font-family: 'Roboto';
    line-height: math.div(22, 16);
    &--possession,
    &--img {
      padding-bottom: rem(16);
      border-bottom: solid 1px $LightGray2;
    }
    &--img {
      display: grid;
      gap: rem(15);
      @media (min-width: $mobile) {
        justify-items: center;
        text-align: center;
        padding: 0 rem(20);
        border-right: solid 1px $LightGray2;
        border-bottom: none;
        &:not(:last-child) {
          border-left: solid 1px $LightGray2;
        }
      }
    }
    &--possession {
      @media (min-width: $mobile) {
        padding-bottom: 0;
        grid-column: 1/3;
        border-bottom: none;
      }
    }
  }
}
