//====================================================================================================
.footer {
  @include adaptiveValue('padding-top', 32, 46);
  @include adaptiveValue('padding-bottom', 55, 48);
  background-color: $dark__grey__blue;
  color: $bag;
  @include adaptiveValue('font-size', 18, 16);
  line-height: 1.67;
  &__container {
    padding: 0 rem(44);
    @media (min-width: $mobile) {
      padding: 0 rem(20);
    }
  }

  &__body {
    display: grid;
    gap: 70px;
    // @include adaptiveValue('gap', 40, 20);
    @media (min-width: $mobile) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: $tablet) {
      grid-template-columns: minmax(512px, 1fr) minmax(200px, 1fr) minmax(
          200px,
          1fr
        );
      // grid-template-columns:
      //   rem(500)
      //   minmax(rem(200), max-content)
      //   minmax(rem(200), max-content);

      // // grid-template-columns: rem(500) repeat(2, minmax(rem(200), max-content));
    }
  }

  &__column {
  }

  &__text {
    & a[href='mailto::info@dbs-soft.ru'] {
      text-decoration: underline;
    }
  }

  &__menu {
  }

  &__list {
  }

  &__item {
    & a {
      text-decoration: underline;
    }
  }

  &__link {
    color: rgba($color: $bag, $alpha: 0.5);
    transition: all 0.6s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        color: $color__green;
      }
    }
  }

  &__logo {
    margin: rem(40) 0 rem(45) 0;
    @media (min-width: $mobile) {
      margin: rem(20) 0;
    }
    @media (min-width: $tablet) {
      margin: rem(-100) 0 rem(38) 0;
    }
  }

  &__copy {
    color: rgba($color: $bag, $alpha: 0.5);
  }
}
//==========================================================================================================================================

.spollers {
  &__item {
  }

  &__title {
    @include adaptiveValue('font-size', 18, 24);
    text-transform: uppercase;
    font-weight: 700;
    &--visibility {
      visibility: visible;
      @media (min-width: $mobile) {
        visibility: hidden;
      }
    }
  }

  &__body {
  }
}
//==========================================================================================================================================

.sales {
  &__list {
  }

  &__item {
    display: grid;
    a {
      text-decoration: underline;
      color: rgba($color: $bag, $alpha: 0.5);
      transition: color 0.6s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $color__green;
        }
      }
    }
  }

  &__link {
  }

  &__text {
  }
}
//==========================================================================================================================================
